<div class="sidebar">
    <div class="logo">
        <h2>Gestión de Inventario</h2>
        <p>Control total de tus productos</p>
    </div>
    <div class="nav-menu">
        <a [routerLink]="['/dashboard']" class="nav-item disabled">
            Dashboard
        </a>
        <a [routerLink]="['/inventory']" class="nav-item">
            Inventario
        </a>
        <a [routerLink]="['/reports']" class="nav-item">
            Reportes
        </a>
        <a [routerLink]="['/']" class="nav-item disabled">
            Usuarios
        </a>
    </div>

    <div class="logout-section">
    <button class="logout-btn" (click)="onLogout()">
      Cerrar sesión...
    </button>
  </div>

</div>
