<div class="sidebar">
    <div class="logo">
        <h2>Gestión de Inventario</h2>
        <p>Control total de tus productos</p>
    </div>
    <div class="nav-menu">
        <a [routerLink]="['/dashboard']" class="nav-item">
            Dashboard
        </a>
        <a [routerLink]="['/inventory']" class="nav-item">
            Inventario
        </a>
        <a [routerLink]="['/']" class="nav-item disabled">
            Reportes
        </a>
        <a [routerLink]="['/']" class="nav-item">
            Usuarios
        </a>
    </div>
</div>
