<div class="modal-overlay">
    <div class="modal">
        <h2>Editar Producto</h2>
        <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label required"
                    for="product-name">Nombre del producto</label>
                <input class="form-control" id="product-name"
                    formControlName="name"
                    required />
            </div>

            <div class="form-group">
                <label class="form-label required"
                    for="product-category">Categoría</label>
                <select class="form-control" id="product-category"
                    formControlName="category" required>
                    <option value disabled selected>Seleccione una
                        categoría</option>
                    <option *ngFor="let category of categories"
                        [value]="category.id">
                        {{ category.name }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label" for="quantity">Stock</label>
                <input class="form-control" id="quantity"
                    formControlName="quantity" type="number" min="0" />
            </div>

            <div class="form-group">
                <label class="form-label" for="price">Precio</label>
                <input class="form-control" id="price"
                    formControlName="price" type="number" min="0" step="0.01" />
            </div>

            <div class="form-group">
                <label class="form-label" for="description">Descripción</label>
                <textarea class="form-control" id="description"
                    formControlName="description" rows="3"></textarea>
            </div>

            <div class="form-actions">
                <button [disabled]="editProductForm.invalid" type="submit"
                    class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary"
                    (click)="close()">Cancelar</button>
            </div>
        </form>
    </div>
</div>